{% extends "mainapp/wrapper.html"%}

{% block content %}
{% load static %}
<img src="{% static 'olga.jpg' %}" width="400" height="350" alt="Ольга">
<p>Фамилия: Ильинская</p>
<p>Имя: Ольга</p>
<p>Отчество: Сергеевна</p>
<p>Город: Санкт-Петербург</p>
<p>Языки: русский, немецкий</p>
<p>Родители: сирота</p>
<p>Друзья:</p>
<p>{% include "mainapp/includes/shtoltsbutton.html" %}
{% include "mainapp/includes/oblomovbutton.html" %}
</p>
<p>Семейное положение: замужем за Андреем Штольцем, в нем воплотился мой идеал мужского совершенства. Воспитываю своих детей и сына Ильи Обломова (моего неудачного бывшего)</p>
<p>Отношение к браку: брак - еще одна ступенька к развитию личности</p>
<p>Мировоззрение: духовность и возвышенность</p>
<p>Жизненная позиция: Я не состарюсь, не устану жить никогда. Живу в соответствии со своими внутренними убеждениями, стремлюсь к активности</p>
<p>Главное в жизни: яркая любовь и саморазвитие</p>
<p>Главное в людях: доброта, деятельность, искренность, целеустремлённость</p>
<p>Образование: Тетка Марья Михайловна</p>
<p>Увлечения: театр, книги, вышивание, игра на рояле, пение</p>
<p>Любимая музыка: мотивирующие подкасты о саморазвитии</p>
<p>Любимая книга: Антихрупкость</p>
<p>Любимые фильмы: Третий лишний</p>
<p>Любимые цитаты:</p>
<p><...> я думала, что сердце не ошибается.</p>
<p>Слёзы, хотя вы и скрывали их; это дурная черта у мужчин — стыдиться своего сердца. Это тоже самолюбие, только фальшивое. Лучше бы они постыдились иногда своего ума: он чаще ошибается.</p>
<p>у сердца, когда оно любит, есть свой ум... оно знает, чего хочет, и знает наперёд, что будет.</p>
{% include "mainapp/includes/homepagebutton.html" %}
{% endblock %}