{% extends "mainapp/wrapper.html"%}

{% block content %}
{% load static %}
<img src="{% static 'agafia.jpg' %}" width="400" height="250" alt="Обломов">
<p>Фамилия: Пшеницына</p>
<p>Имя: Агафья</p>
<p>Отчество: Матвеевна</p>
<p>Пол: женский</p>
<p>Семейное положение: после тяжелой утраты обрела счастье с Ильей Обломовым</p>
<p>Место проживания: Санкт-Петербург</p>
<p>Дети: сын Андрей</p>
<p>Друзья:</p>
<p>{% include "mainapp/includes/oblomovbutton.html" %} Иван Мухояров, Тарантьев</p>
<p>Группы вк: домохозяйки, книга рецептов, рецепты к новому году, жертва патриархата, лайфхаки для дома, православие, как обрести истинное счастье</p>
<p>Интересы: хозяйство, кухня и общение со слугами и продавцами продовольствия</p>
<p>Музыка: люблю слушать Киркорова, Баскова, обожаю Меладзе и Лепса</p>
<p>Любимые фильмы: Титаник, фильмы , которые показывают по телеканалу «Россия-1»</p>
<p>Любимые книги: не читаю романы, мне и так нормально</p>
<p>Любимые телешоу: Пусть говорят, Прямой эфир с Борисов Корчевниковым, Мужское/Женское</p>
<p>Любимые цитаты:</p>
<p>"А здесь с кем болтать? С хозяйкой только и разговору, что о хозяйстве..."</p>
<p>"Мы мало где бываем. Братец с Михеем Андреичем на тоню ходят, уху там варят, а
    мы всё дома... Ей-богу, правда..."</p>
<p>– [...] Когда мне? А ужин как? – спросила она..."</p>
<p>"Я еще в будничном платье, все на кухне была. Сейчас оденусь..."</p>
<p>Образование:
    Образования у меня нет. Если речь заходила о вещах, которые я не знаю, то предпочитаю отмалчиваться и улыбаться. Выдающегося ума у меня нет. Ничем особым я не интересуюсь, а развивать себя считаю делом ненужным</p>
<P>О себе: Основательница бренда «Рецепты бабушки
Агафьи». Трудолюбива и постоянно стараюсь угодить
возлюбленному, а затем и мужу. Люблю повторять, что
"работа всегда есть". Стремлюсь создать в доме уют и
оградить любимого человека от лишних усилий.</p>
{% include "mainapp/includes/homepagebutton.html" %}
{% endblock %}

