{% extends "mainapp/wrapper.html"%}

{% block content %}
{% load static %}
<img src="{% static 'oblomov.jpg' %}" width="400" height="250" alt="Обломов">
<p>
Фамилия: Обломов
Имя: Илья
Отчество: Ильич
</p>
<p>Пол: мужской</p>
<p>Семейное положение: женат на Агафье Матвеевне Пшеницыной, любовь тихая и спокойная, прямо как я.</p>
<p>Родной населенный пункт: деревня Обломовка</p>
<p>Место проживания: Санкт-Петербург</p>
<p>Дети: сын Андрей</p>
<p>Друзья:</p>
<p>{% include "mainapp/includes/shtoltsbutton.html" %}
    {% include "mainapp/includes/olgabutton.html" %}
{% include "mainapp/includes/agafiabutton.html" %}
    Михей Тарантьев, Волков, Судьбинский, Пенкин, Алексеев Иван</p>
<p>Группы вк: здоровый сон, фабрика халатов в Санкт-Петербурге, аренда квартир в СПБ, 100 способов лежать на диване, диванные критики и эксперты, любители поесть.</p>
<p>Интересы: беспрестанное лежание на диване. Я вижу свое счастье и гармонию в лежании на любимом диване, пока мир вокруг меняется и движется в направлении к будущему. Это меня нисколько не смущает, ведь смысла в работе и обучении я не вижу.</p>
<p>Музыка: Трудно ответить на этот вопрос! Всякая! Иногда я с удовольствием слушаю
сиплую шарманку, какой-нибудь мотив, который заронился мне в память, в другой раз
уйду на половине оперы; там Мейербер зашевелит меня; даже песня с барки: смотря по
настроению! Иногда и от Моцарта уши зажмешь. Также люблю слушать Пугачеву и Мумий-тролль, обожаю группу «Нервы»</p>
<p>Любимые фильмы: люблю смотреть длинные комедийные сериалы и мультфильмы</p>
<p>Любимые телешоу: Уральские пельмени</p>
<p>Идеалы в жизни: Жизнь в Обломовке – идеал для меня. Неторопливость и сонная атмосфера, отсутствие всякой работы и обязательств, трудностей. Бездействие – это все, чего я хочу.</p>
<p>Жизненная позиция: Весьма апатичен, к этому миру отношусь с недовольством. Главное – не выходить из зоны комфорта.</p>
<p>Любимые книги: не люблю читать книги, на столе у меня лежит книга, которая уже
покрылась слоем пыли.
"...только изредка, по указанию Штольца, пожалуй, и
прочитывал ту или другую книгу, но не вдруг, не торопясь, без жадности, а лениво
пробегал глазами по строкам. Но В юности Илья Обломов страстно полюбил поэзию, но вскоре остыл и к этому.</p>
<p>Любимые цитаты:</p>
<p>"Ведь есть же этакие ослы, что женятся!.."</p>
<p>"Дружбы между мужчиной и женщиной не бывает..."</p>
<p>"Все это мертвецы, спящие люди, хуже меня, эти члены света и общества! [...] Разве
это не мертвецы? Разве не спят они всю жизнь сидя? Чем я виноватее их, лежа у себя
    дома..."</p>
<p>"Протяните руку падшему человеку, чтоб поднять его, или горько плачьте над ним,
если он гибнет, а не глумитесь. Любите его, помните в нем самого себя и
обращайтесь с ним, как с собой, – тогда я стану вас читать и склоню перед вами голову...</p>
<p>O себе : создатель первого голосового помощника « Захар», владею крупным
    предприятием на 300 рабочих душ.</p>
<p>Образование:
мне не нравится учиться. Я считаю учебу и труд наказанием
С 13-14 лет и до 15 учился в пансионе с моим лучшим другом Андреем Штольцем.
Часто не ходил туда, но учился хорошо, благодаря Андрею. Потом поступил в
Московский университет. Но кроме аттестата , учеба не дала мне ничего полезного.</p>
{% include "mainapp/includes/homepagebutton.html" %}
{% endblock %}