{% extends "mainapp/wrapper.html"%}

{% block content %}
{% load static %}
<img src="{% static 'shtolts.jpg' %}" width="400" height="350" alt="Штольц">
<p>
    Фамилия: Штольц</p>
<p>Имя: Андрей</p>
<p>Отчество: Иванович</p>
<p>Город: Санкт-Петербург</p>
<p>Место учёбы: пансион в Верхлёве, русский университет…</p>
<p>Родной город:</p>
<p>Языки: русский, немецкий</p>
<p>Отец: Иван Богданович Штольц</p>
<p>Семейное положение: женат на чудесной Ольге Ильинской, воспитываю наших детей и сына моего лучшего друга</p>
<p>Друзья:</p>
<p>{% include "mainapp/includes/oblomovbutton.html" %}
    {% include "mainapp/includes/olgabutton.html" %}
<p>Образование: С восьми лет я сидел с отцом за географической картой, разбирал по складам Гердера, Виланда, библейские стихи и подводил итоги безграмотным счетам крестьян, мещан и фабричных, а с матерью читал Священную историю, учил басни Крылова и разбирал по складам же «Телемака».</p>
<p>Должность: Бизнесмен, коуч</p>
<p>Мировоззрение: Труд — образ, содержание, стихия и цель жизни. По крайней мере, моей. Сама жизнь и труд есть цель жизни...</p>
<p>Жизненная позиция: Теперь или никогда!</p>
<p>Главное в жизни: Главное – стремление к осуществлению целей. Если есть мечты, то со временем они становятся реальностью.</p>
<p>Главное в людях: добросердечные, искренние и глубоко порядочные люди, не способные на низкие поступки – именно такими вы станете после прохождения моего курса.</p>
<p>Любимая музыка: Rammstein, Иван Дорн</p>
<p>Любимые фильм: В погоне за счастьем</p>
<p>Любимые книга: «Не ной»</p>
<p>Любимые цитаты: Ровное и медленное горение огня лучше бурных пожаров, какая бы поэзия ни пылала в них…</p>
<p>Будьте в моменте, будьте в ресурсе.</p>
<p>Мудрено и трудно жить просто!</p>
<p>Жизнь мелькнет, как мгновение. Пусть она будет постоянным горением!</p>
<p>Нет человека, который бы не умел чего-нибудь, ей-богу нет!</p>

<p>О себе: энергичный, деятельный, педантичный, сдержанный, прагматичный, неутомимый молодой мужчина. Национальный рационализм, целеустремленность, любовь к труду и предпринимательский талант – всё это про меня. Умён, оптимистично настроен по жизни и всегда готов к действию. В поисках новых знаний путешествую по свету и не перестаёт учиться.</p>

<p>Ссылки: Покупайте мой годовой курс «Не мечтай, а делай». Благодаря нему вы наконец подниметесь с дивана, выйдете в свет и добьётесь целей. Не позволяйте «Обломовщине» затянуть вас. На протяжении многих лет я активно поддерживаю своего лучшего друга, хронического ленивца, и иногда даже получается.</p>
{% include "mainapp/includes/homepagebutton.html" %}
{% endblock %}